<%= render 'layouts/navigation_links' %>
<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Courses', courses_url %></li>
  <li><%= link_to 'Students', students_url %></li>
  <li><%= link_to 'Majors', majors_url %></li>
  <li><%= link_to 'My Account', accounts_url %></li>
</ul>

